* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*width:400 width+border+padding*/
}

html {
  font-size: 20px;
}

body {
  padding: 0 10%;
}

/* External CSS */
h2 {
  color: orange;
  background-color: black;
}

#parag_id {
  font-size: larger !important;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: italic;

  text-align: justify;
  text-decoration: underline;
  text-transform: capitalize !important;
  text-shadow: 0.5px -0.5px 1px red;

  letter-spacing: 1.5px;
  word-spacing: 3px !important;
  line-height: 1.5;

  column-count: 3;
  column-rule: 1px solid orange !important;
  column-gap: 25px !important;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  -webkit-line-clamp: 4;
}

.div_class {
  border: 1px solid #333333;

  /* margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  margin-left: 10px;

    margin: 10px;
    margin: 10px 10px 10px 10px; */

  margin: 10px 5px;

  /* padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    padding: 10px;
    padding: 10px 20px 30px 40px; */

  padding: 10px 30px;

  box-shadow: 10px 1px 10px 1px rgba(0, 0, 0, 0.7);
  border: 1px solid purple;
  border-top-left-radius: 5%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 1rem !important;
  border-bottom-left-radius: 10px;
  border-radius: 50%;
}

/*color*/
.div_common {
  /* height: 1rem;
  width: 50%; */

  height: 10px;
  width: 50%;
  margin-bottom: 20px;
  padding: 2rem;
  box-shadow: 10px 1px 10px 1px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  display: block;
  display: inline;
  display: inline-block;
  display: block;
}

.color_class {
  color: white;
  background-color: black;
  background-color: rebeccapurple;
  background-color: #f00;
  background-color: #ff0000;
  background-color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.6);
  /* 
hsl: 
h: hue (Ton: 0-360)
s: saturation (Doygunluk: %0-%100)
l: lightness (Açıklık: %0-%100)
*/
  background-color: hsl(0, 100%, 50%);
  background-color: hsla(0, 100%, 50%, 0.6);
}

.a_link {
  color: #ff0000;
  background-color: #333333;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  text-shadow: 0.5px -0.6px 5px black;
  padding: 0.4rem;
  border-radius: 5%;
  border: none;
  /* display: none;
visibilty: hidden */
}
.a_link:hover {
  color: #333333;
  background-color: #ff0000;
}
/*list*/
ul {
  list-style-type: square;
  list-style-type: none;
}

.ul_class {
  list-style-type: square;
  list-style-type: none;
}

#ul_id {
  list-style-type: square;
  list-style-type: none;
}

#ul_id li {
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 1rem;
  background-color: beige;
  text-transform: uppercase;
}

#ul_id li:hover {
  color: beige;
  background-color: black;
}

/*table*/
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid red;
}
table th {
  background-color: #000;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 0.5rem;
}
table td {
  background-color: #ff0202f7;
  color: rgb(255, 255, 255);
  text-align: center;
  border: 1px solid #000;
  padding: 0.5rem;
}
table td:hover {
  background-color: rgb(255, 255, 255);
  color: #ff0202f7;
}

/*clearfix*/
.my_clearfix{
  content:"";
  display: table;
  clear: both;

}

#my_clearpath{
    clip-path: polygon(55% 0%, 100% 55%, 55% 100%, 0 50%);
}